.contact {
    height: 2em;
    width: auto;
}
.contactLink {
    font-family: $poppins;
    font-size: 1em;
}
.socialMedia {
    height: 2em;
    width: auto;
    fill: black;
}
.illustration {
    height: 3em;
    width: auto;
}

.mainAbout {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .contactInfos {
        h2 {
            font-family: $poppins;
            font-size: 1.5em;
            padding-bottom: 1em;
            border-bottom: 2px solid lightgrey;
        }
    }
    .discoverDJ {
        background-image: url(/img/bg-circle-1.png);
        background-position:center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        h2{
            width: 100%;
            font-family: $poppins;
            font-size: 1.5em;
            font-weight: 800;
            color: black;
            text-align: center;       
            }
        .dicover {
            width: 30%;
            height: auto;
            text-align: center;
        }
    }
    .latestReleases {
        h2 {
            font-family: $poppins;
            font-weight: 600;
            font-size: 1.5em;
            text-align: center;
        }
        div {
            display: flex;
            justify-content: space-around;
        }
    }
}