.carousel_box {
  width: 100%;
  height: 300px;
  background-image: url(/img/homepage-sponsors-background.jpg);
  background-size: 400px 100%;

  .sponsors {
    padding-top: 2em;
    text-align: center;
    color: white;
    font-size: 2em;
  }

  .mySlides {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 2.3em 0;
    display: none;
    width: 100%;
    height: 100%;
  }
  /* .carousel_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    */
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: 0 auto;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot_container {
    text-align: center;

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
