.dico-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;

  figure {
    text-align: center;
    padding: 2em 2em;

    img {
      width: 370px;
    }
    h4 {
      font-family: $poppins;
      line-height: 1.5em;
      padding: 1em;
      
  }
  h4::first-line {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5em;
  }
  }
}
