@media screen and (max-width: 320px) {
  footer {
    .abt {
      display: flex;
      flex-direction: column;

      li {
        padding: 0.5em;
      }
    }
  }
  .scl {
    display: flex;
    flex-direction: row;

    li {
      padding: 0.5em;
    }
  }
}

@media screen and (min-width: 410px) {
  .about {
    padding: 0 1.5em;
    padding-bottom: 3em;
  }

  .social {
    padding: 0 0.5em;
  }
}

footer {
  background-color: $Darkgrey;
  text-align: center;
  color: white;

  ul {
    display: flex;
    justify-content: center;
  }
  a {
    font-family: $poppins;
    font-weight: 500;
    color: white;
    text-decoration: none;
  }
  img {
    padding: 2em 0;
    height: 20px;
  }

  h5 {
    color: $Grey;
    padding-bottom: 3em;
    font-size: 12px;
  }
}
